@charset "UTF-8";
/* mixin -------------------------------------------*/
/* colors --------------------------------------------*/
/* 全体に共通するスタイル -----------------------------*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

body {
  font-size: 16px;
  color: #3E3E3E;
  width: 100%;
  line-height: 1.6875;
  background-color: #F3F3F3;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

input {
  border: none;
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
}

.section {
  margin: 120px auto 0;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 0;
    padding: 0 15px;
  }
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 343px;
  }
}

.title {
  font-size: 36px;
  line-height: 1.2222222222;
  font-weight: bold;
  text-align: center;
  padding-top: 62px;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 30px;
    line-height: 1.2333333333;
    padding-top: 40px;
  }
}

.util-link {
  height: 64px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  line-height: 64px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .util-link {
    height: 54px;
    font-size: 18px;
    line-height: 54px;
  }
}

.is-black {
  color: #fff;
  background-color: #3E3E3E;
  border: 1px solid #fff;
  transition: all 0.3s ease 0s;
}
.is-black:hover {
  color: #3E3E3E;
  background-color: #fff;
  border: 1px solid #707070;
}

.is-white {
  color: #3E3E3E;
  background-color: #fff;
  border: 1px solid #707070;
  transition: all 0.3s ease 0s;
}
.is-white:hover {
  color: #fff;
  background-color: #3E3E3E;
  border: 1px solid #fff;
}

.button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
}
.button a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.45px;
  background: #FFAA3B;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 5px rgba(96, 96, 96, 0.16);
  transition: all 0.3s ease 0s;
}
.button a:hover {
  background: #F18900;
}
@media screen and (max-width: 767px) {
  .button a {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
  }
}

/*============================================================
# header
============================================================= */
.header {
  height: 83px;
  background: rgba(255, 255, 255, 0.1019607843) 0% 0% no-repeat padding-box;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    background-color: #fff;
    text-align: left;
    max-width: 100%;
    position: relative;
  }
}

.header-inner {
  max-width: 1280px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .header-inner {
    width: 100%;
  }
}

.header-logo {
  display: none;
}
@media screen and (max-width: 767px) {
  .header-logo {
    display: inline-block;
    position: left;
    width: 160px;
    color: #3E3E3E;
    font-size: 23px;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 15px;
  }
}

.header-nav {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav-item a {
  display: inline-block;
  height: 83px;
  line-height: 83px;
  font-size: 16px;
  font-weight: 500;
  color: #3E3E3E;
  letter-spacing: -0.3px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.header-nav-item a::after {
  content: "";
  position: absolute;
  bottom: 26px;
  left: -10%;
  width: 120%;
  height: 1px;
  background: transparent;
}
.header-nav-item a:hover::after, .header-nav-item a.is-active::after {
  background: #3E3E3E;
}
.header-nav-item:not(:first-child) {
  margin-left: 40px;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 767px) {
  .hamburger {
    position: absolute;
    content: "";
    top: 24px;
    right: 17px;
    display: inline-block;
    text-align: right;
    width: 26px;
    height: 20px;
    background: url(../img/hamburger.png) no-repeat center center/contain;
    transition: all 0.3s ease 0;
  }
}

/*============================================================
# top
============================================================= */
.top {
  height: 648px;
  width: 100%;
  background: url(../img/mv.png) no-repeat center center/cover;
}
@media screen and (max-width: 767px) {
  .top {
    height: 667px;
    margin-top: -68px;
    background-position: -209px;
  }
}

.top-inner {
  position: relative;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .top-inner {
    padding-left: 16px;
    padding-right: 16px;
    width: calc(100% - 32px);
  }
}

.top-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  right: 0px;
}
@media screen and (max-width: 767px) {
  .top-wrapper {
    transform: translateY(-52%);
    right: auto;
    left: 1rem;
    width: calc(100% - 32px);
  }
}

.top-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.01px;
}
@media screen and (max-width: 767px) {
  .top-title {
    font-size: 24px;
    line-height: 1.6666666667;
  }
}

.top-text {
  margin-top: 26px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.35px;
  max-width: 600px;
  line-height: 1.5555555556;
}
@media screen and (max-width: 767px) {
  .top-text {
    font-size: 14px;
    line-height: 1.4285714286;
    width: 100%;
    margin-top: 19px;
    letter-spacing: -0.1px;
  }
}

.top-button {
  margin-top: 38px;
}
.top-button a {
  width: 282px;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
@media screen and (max-width: 767px) {
  .top-button a {
    max-width: 222px;
    letter-spacing: normal;
  }
}
@media screen and (max-width: 767px) {
  .top-button {
    display: block;
    margin: 27px auto 0;
  }
}

/*============================================================
# news
============================================================= */
.news {
  background-color: #F3F3F3;
  padding: 120px 40px;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 0px 16px;
    position: relative;
    height: 573px;
  }
}

.news-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 12px rgba(96, 96, 96, 0.16);
}
@media screen and (max-width: 767px) {
  .news-wrapper {
    position: absolute;
    top: -39px;
    left: 45.5%;
    transform: translateX(-50%);
    content: "";
    margin: 0 4.5%;
    width: 91.8vw;
  }
}

.news-title {
  padding-top: 60px;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .news-title {
    padding-top: 40px;
  }
}

.news-list {
  padding: 58px 60px 40px;
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .news-list {
    padding: 40px 0;
    box-sizing: border-box;
  }
}

.news-item {
  border-bottom: 1px solid #CECDCD;
  display: flex;
  transition: all 0.3s ease 0s;
}
.news-item:first-child {
  border-top: 1px solid #CECDCD;
}
.news-item:hover {
  background-color: rgba(73, 115, 255, 0.1019607843);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .news-item {
    display: block;
    padding-top: 12px;
    width: 100%;
    position: relative;
  }
  .news-item::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 16px;
    height: 23px;
    background: url(../img/news-arrow-1.png) no-repeat center center/contain;
  }
}

.news-item-meta {
  display: flex;
  width: 259px;
  height: 100%;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .news-item-meta {
    display: flex;
    width: 80%;
    margin: 0;
    margin-left: 17px;
  }
}

.news-item-time {
  font-size: 18px;
  line-height: 1.4444444444;
  width: 138px;
  letter-spacing: 0.5px;
  padding-top: 3px;
}
.news-item-time time {
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .news-item-time {
    font-size: 14px;
    width: 100px;
    letter-spacing: 0.2px;
  }
}

.news-item-label {
  display: inline-block;
  font-size: 14px;
  width: 118px;
  height: 26px;
  line-height: 26px;
  border: 2px solid #3B69FF;
  border-radius: 15px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .news-item-label {
    display: block;
    font-size: 12px;
    width: 76px;
    height: 16px;
    line-height: 20px;
    margin-top: 2px;
  }
}

.news-item-text {
  font-size: 18px;
  width: calc(100% - 259px);
  padding-left: 40px;
  padding-right: 83px;
  letter-spacing: 0.45px;
  position: relative;
}
.news-item-text:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 16px;
  height: 23px;
  background: url(../img/news-arrow-1.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .news-item-text:after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .news-item-text {
    font-size: 14px;
    width: auto;
    padding-right: 20px;
    padding-left: 16px;
    letter-spacing: 0px;
    line-height: 14px;
    margin-right: 16px;
  }
}

.news-text1 {
  line-height: 1.56;
  padding-top: 33px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .news-text1 {
    padding-top: 6px;
    line-height: 20px;
    padding-bottom: 11px;
  }
}

.news-text2 {
  line-height: 1.56;
  padding-top: 42px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .news-text2 {
    padding-top: 7px;
    line-height: 20px;
    padding-bottom: 11px;
  }
}

.news-text3 {
  line-height: 1.56;
  padding-top: 41px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .news-text3 {
    padding-top: 7px;
    line-height: 20px;
    padding-bottom: 11px;
  }
}

.news-footer {
  margin-top: 41px;
  box-sizing: border-box;
}
.news-footer .util-link {
  width: 236px;
}
@media screen and (max-width: 767px) {
  .news-footer .util-link {
    width: 78%;
    padding-left: 4px;
  }
}

/*============================================================
# service
============================================================= */
.service {
  height: 400px;
  background-color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .service {
    height: 100%;
    position: relative;
    margin-bottom: 60px;
    background: none;
  }
}

@media screen and (max-width: 767px) {
  .service-bg-black {
    position: absolute;
    content: "";
    height: 481px;
    width: 100%;
    z-index: -10;
    background-color: #3E3E3E;
  }
}

@media screen and (max-width: 767px) {
  .service-inner {
    margin: 0 16px;
  }
}

.service-title {
  padding-top: 61px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .service-title {
    padding-top: 41px;
  }
}

.service-items {
  background-color: #fff;
  max-width: 960px;
  width: 90vw;
  min-height: 331px;
  box-shadow: 0 5px 12px rgba(96, 96, 96, 0.16);
  margin: 60px auto 0;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .service-items {
    display: block;
    height: 100%;
    margin-top: 40px;
    padding: 5px 16px 34px;
    box-sizing: border-box;
    width: 91vw;
  }
}

.service-item {
  width: 33.33333%;
  min-height: 211px;
  padding: 60px 4.7% 60px;
  color: #3E3E3E;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .service-item {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 30px 0 0;
  }
}

.service-item-img {
  display: block;
  height: 64px;
  width: 50px;
  margin: 0 auto;
}

.img1 {
  background: url(../img/service1.png) no-repeat center center/contain;
  opacity: 1;
}

.img2 {
  background: url(../img/service2.png) no-repeat center center/contain;
}

.img3 {
  background: url(../img/service3.png) no-repeat center center/contain;
}

.service-item-name {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 8px;
  letter-spacing: 4px;
  padding-left: 4px;
}
@media screen and (max-width: 767px) {
  .service-item-name {
    line-height: 1.2;
    margin-top: 7px;
  }
}

.service-item-text {
  font-size: 14px;
  line-height: 1.7142857143;
  color: #3E3E3E;
  margin-top: 11px;
  letter-spacing: -0.2px;
}
@media screen and (max-width: 767px) {
  .service-item-text {
    display: inline-block;
    width: inherit;
    margin-top: 15px;
  }
}

/*============================================================
# Results
============================================================= */
.results {
  height: 695px;
  margin-top: 215px;
  background-color: #3E3E3E;
  margin-left: 40px;
  padding: 0px 0 60px 60px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .results {
    height: 532px;
    margin: 0;
    padding: 0;
  }
}

.results-inner {
  width: 100%;
  max-width: none;
}
@media screen and (max-width: 767px) {
  .results-inner {
    padding-left: 16px;
    width: 100%;
  }
}

.results-title {
  font-size: 36px;
  line-height: 1.2222222222;
  font-weight: 600;
  padding-top: 60px;
  color: #ffffff;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .results-title {
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
  }
}

.results-items {
  margin-top: 60px;
  display: flex;
  position: relative;
}
@media screen and (max-width: 767px) {
  .results-items {
    margin-top: 40px;
  }
}

.results-item {
  height: 366px;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .results-item {
    height: 253px;
  }
}

.results-item-img {
  width: 100%;
  height: 250px;
  background: url(../img/slide1.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .results-item-img {
    height: 171px;
  }
}

.results-item-title {
  font-size: 20px;
  line-height: 1.2;
  padding-top: 16px;
  padding-left: 16px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .results-item-title {
    font-size: 14px;
    line-height: 1.1428571429;
    padding-top: 11px;
    padding-left: 13px;
  }
}

.results-item-text {
  font-size: 16px;
  line-height: 1.5;
  padding: 9px 16px 16px;
  letter-spacing: -0.1px;
}
@media screen and (max-width: 767px) {
  .results-item-text {
    font-size: 12px;
    line-height: 1.5;
    padding: 9px 11px 16px;
    letter-spacing: -0.1px;
  }
}

.page-nation {
  display: inline-block;
  height: 12px;
  margin-top: 42px;
}
.page-nation span {
  color: #ffffff;
}

.results-footer {
  margin-top: 100px;
}
.results-footer a {
  background-color: #3E3E3E;
  color: #ffffff;
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  .results-footer {
    margin-top: 68px;
  }
}
.results-footer .util-link {
  width: 289px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .results-footer .util-link {
    max-width: 316px;
    width: calc(100% - 24px);
    margin: 0 auto;
    letter-spacing: 3.4px;
  }
}

/*============================================================
# price
============================================================= */
.price {
  margin: 58px auto 0;
  max-width: 1040px;
  width: 100%;
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .price {
    margin-top: 2px;
    padding: 0 15px;
  }
}

.price-inner {
  max-width: 960px;
  width: 100%;
}

.price-title {
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .price-title {
    padding-top: 39px;
  }
}

.price-table {
  margin: 60px auto 0;
  max-width: 960px;
  width: 100%;
}
.price-table tr {
  border: 1px solid #707070;
}
@media screen and (max-width: 767px) {
  .price-table {
    margin-top: 39px;
    margin-left: 0px;
    max-width: 343px;
    min-width: 100%;
  }
}

.price-name {
  width: 262px;
  color: #ffffff;
  background-color: #3E3E3E;
  height: 59px;
  line-height: 59px;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .price-name {
    width: 100px;
    height: 54px;
    line-height: 54px;
    font-size: 19px;
  }
}

.price-price {
  width: calc(100% - 262px);
  color: #3E3E3E;
  background-color: #ffffff;
  height: 59px;
  line-height: 59px;
  font-size: 24px;
  padding-left: 38px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .price-price {
    width: calc(100% - 100px);
    height: 54px;
    line-height: 54px;
    font-size: 20px;
    padding-left: 19px;
  }
  .price-price span {
    font-size: 24px;
  }
}

.price-sample {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.6666666667;
}
@media screen and (max-width: 767px) {
  .price-sample {
    margin: 5px 0px 0 0;
  }
}

/*============================================================
# comments
============================================================= */
.comments {
  margin-top: 117px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .comments {
    min-height: 486px;
    padding-bottom: 20px;
    margin-top: -2px;
    position: relative;
  }
}

.comments-inner {
  display: flex;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .comments-inner {
    display: block;
    position: static;
    max-width: none;
    padding: 0;
  }
}

.comments-main {
  width: 52vw;
  box-shadow: 0 0 10px rgba(96, 96, 96, 0.16);
  background-color: #fff;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .comments-main {
    width: 100%;
    padding-bottom: 57px;
  }
}

@media only screen and (max-width: 1040px) {
  .comments-main {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
.comments-title {
  text-align: left;
  margin-top: 58px;
  margin-left: 60px;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .comments-title {
    margin-left: 20px;
    padding-top: 40px;
    text-align: left;
  }
}

.comments-main-items {
  padding: 8.5% 9% 18.2% 9%;
}
@media screen and (max-width: 767px) {
  .comments-main-items {
    padding: 37px 18px 0px;
  }
}

.comments-main-item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .comments-main-item {
    margin-left: 2px;
  }
}
.comments-main-item:not(:first-child) {
  margin-top: 56px;
}
@media screen and (max-width: 767px) {
  .comments-main-item:not(:first-child) {
    margin-top: 54px;
  }
}

.comments-main-item-picture {
  width: 100px;
  height: 100px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .comments-main-item-picture {
    width: 60px;
    height: 60px;
  }
}

.comments-picture1 {
  background: url(../img/comments1.png) no-repeat center center/contain;
  margin-top: 3px;
}

.comments-picture2 {
  background: url(../img/comments2.png) no-repeat center center/contain;
  margin-top: 3px;
}

.comments-main-item-text {
  line-height: 1.5;
  padding-left: 32px;
  width: calc(100% - 132px);
  letter-spacing: -0.1px;
}
@media screen and (max-width: 767px) {
  .comments-main-item-text {
    font-size: 14px;
    padding-left: 20px;
    width: calc(100% - 80px);
    line-height: 1.4285714286;
  }
}

.comments-bg-picture {
  width: 534px;
  height: 444px;
  background: url(../img/comments3.png) no-repeat center center/cover;
  max-width: 100%;
  z-index: 1;
  margin-top: 79px;
}
@media screen and (max-width: 767px) {
  .comments-bg-picture {
    display: none;
  }
}

@media only screen and (max-width: 1040px) {
  .comments-bg-picture {
    display: none;
  }
}
.comments-background-black {
  width: 980px;
  min-height: 576px;
  max-width: 100%;
  background-color: #3E3E3E;
  position: absolute;
  content: "";
  top: 148px;
  left: 0;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .comments-background-black {
    width: 100%;
    height: 100%;
    top: 61px;
    left: 0;
    background-color: #3E3E3E;
    z-index: -10;
    max-width: none;
  }
}

@media only screen and (max-width: 1040px) {
  .comments-background-black {
    width: 100vw;
    height: 96%;
  }
}
/*============================================================
# q&a
============================================================= */
.qa {
  background: url(../img/qa-bg.png) no-repeat center center/cover;
  min-height: 952px;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .qa {
    min-height: 821px;
    height: 100%;
  }
}

.qa-inner {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .qa-inner {
    max-width: 343px;
    width: 100%;
    padding: 0;
  }
}

.qa-title {
  padding-top: 60px;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .qa-title {
    padding-top: 40px;
  }
}

.qa-items {
  width: 612px;
  margin-top: 60px;
  margin-left: auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .qa-items {
    display: block;
    max-width: 343px;
    width: 100%;
    box-sizing: border-box;
    position: static;
    margin-top: 39px;
  }
}

.qa-item {
  background-color: #fff;
  border-radius: 4px;
}
.qa-item:not(:first-child) {
  margin-top: 31.5px;
}
@media screen and (max-width: 767px) {
  .qa-item:not(:first-child) {
    margin-top: 24px;
  }
}

.qa-item-q {
  align-items: center;
  line-height: 1.5;
  margin-right: 16px;
  padding: 16px 0 16px 56px;
  font-weight: bold;
  color: #3E3E3E;
  letter-spacing: 0.4px;
  position: relative;
}
.qa-item-q:hover {
  cursor: pointer;
}
.qa-item-q .qa-item-q-icon.is-open .qa-item-q-plus {
  display: none;
}
.qa-item-q .qa-item-q-plus,
.qa-item-q .qa-item-q-minus {
  position: absolute;
}
.qa-item-q .qa-item-q-plus {
  width: 3px;
  height: 15px;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3B69FF;
  transition: 0.3s all 0s;
}
.qa-item-q .qa-item-q-plus.is-open .qa-item-q-plus {
  display: none;
}
.qa-item-q .qa-item-q-minus {
  width: 15px;
  height: 3px;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  background-color: #3B69FF;
}

.is-q {
  width: 24px;
  height: 24px;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #ffffff;
  background-color: #3B69FF;
  border-radius: 50%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .is-q {
    top: 48%;
  }
}

.qa-item-a-box {
  padding: 0 16px 16px;
  display: none;
}

.qa-item-a {
  line-height: 1.54;
  padding: 11px 16px 11px;
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .qa-item-a {
    font-size: 14px;
    line-height: 1.4285714286;
    padding: 8px 12px;
  }
}

/*============================================================
# access
============================================================= */
.access {
  margin-top: 0;
  max-height: 640px;
  height: 50vw;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .access {
    height: 573px;
    background-color: #3E3E3E;
  }
}

.access-inner {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.access-main {
  max-width: 980px;
  width: 100%;
  height: 504px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .access-main {
    position: static;
    height: auto;
  }
}

.access-main-wrap {
  width: 30%;
  margin-left: 10.2%;
}
@media screen and (max-width: 767px) {
  .access-main-wrap {
    width: 70%;
    margin-left: 0;
  }
}

.access-title {
  text-align: left;
  padding-top: 0;
  margin-top: 121px;
  letter-spacing: -0.5px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .access-title {
    margin: 0;
    padding-top: 40px;
  }
}

.access-main-box {
  margin-top: 53px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
@media screen and (max-width: 767px) {
  .access-main-box {
    margin-top: 34px;
    margin-left: 0;
    font-size: 14px;
  }
}

.access-main-box-address {
  display: inline-block;
  color: #ffffff;
  line-height: 1.5;
  padding-top: 3px;
}
@media screen and (max-width: 767px) {
  .access-main-box-address {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

.access-map {
  width: calc(100% - 514px);
  max-width: 726px;
  position: absolute;
  content: "";
  top: 120px;
  right: 40px;
  box-shadow: 0 0 10px rgba(96, 96, 96, 0.16);
}
@media screen and (max-width: 767px) {
  .access-map {
    width: 100%;
    position: static;
    margin-top: 19px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 71.6253443526%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .iframe-wrap {
    padding-top: 70.2623906706%;
  }
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-footer {
  font-size: 20px;
  letter-spacing: 2px;
  position: absolute;
  content: "";
  top: 321px;
  left: 100px;
  width: 314px;
}
@media screen and (max-width: 767px) {
  .access-footer {
    position: static;
    top: 321px;
    width: 99%;
    margin: 23px auto 0;
  }
}
.access-footer .util-link {
  letter-spacing: 2px;
  line-height: 3.1em;
}

/*============================================================
# contact-us
============================================================= */
.contact-us {
  padding-top: 60px;
  height: 1122px;
  width: 100%;
  background: url(../img/contact-bg.png) no-repeat center center/cover;
}
@media screen and (max-width: 767px) {
  .contact-us {
    height: 1078px;
    padding: 40px 16px 0;
    background-position: left;
  }
}

.contact-us-inner {
  width: 75vw;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 12px;
}
@media screen and (max-width: 767px) {
  .contact-us-inner {
    margin: 0px auto;
    max-width: 343px;
    width: 100%;
    height: 968px;
    padding-bottom: 30px;
  }
}

.contact-top {
  background: url(../img/contact1.png) no-repeat center center/cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 196px;
}
@media screen and (max-width: 767px) {
  .contact-top {
    height: 163px;
    background: url(../img/contact2.png) no-repeat top left/cover;
  }
}

.contact-title {
  letter-spacing: 0;
  padding-top: 60px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .contact-title {
    padding-top: 41px;
  }
}

.contact-top-text {
  margin-top: 11px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 53px;
  font-weight: 300;
  letter-spacing: -0.1px;
}
@media screen and (max-width: 767px) {
  .contact-top-text {
    font-size: 14px;
    padding: 8px 16px;
    text-align: left;
    margin-top: 0;
    line-height: 1.4285714286;
  }
}

.contact-items {
  padding: 60px 12.5%;
}
@media screen and (max-width: 767px) {
  .contact-items {
    padding: 30px 12px;
  }
}

.contact-item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .contact-item {
    display: block;
  }
}
.contact-item:not(:first-child) {
  margin-top: 32px;
  margin-bottom: 2px;
}
@media screen and (max-width: 767px) {
  .contact-item:not(:first-child) {
    margin-top: 23px;
  }
}
.contact-item:nth-child(2) {
  margin-top: 34px;
}
.contact-item:nth-child(5) {
  margin-top: 17px;
}

.contact-item-title {
  display: block;
  width: calc(100px + 12%);
  font-weight: bold;
  line-height: 32px;
  position: relative;
}
.contact-item-title .contact-item-title-span1,
.contact-item-title .contact-item-title-span2 {
  position: absolute;
  content: "";
  top: 9px;
  width: 40px;
  height: 16px;
  display: block;
  line-height: 16px;
  text-align: center;
  border-radius: 2px;
  background-color: #FF4646;
  color: #ffffff;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .contact-item-title .contact-item-title-span1,
.contact-item-title .contact-item-title-span2 {
    top: 9px;
  }
}
.contact-item-title .contact-item-title-span1 {
  left: 44px;
}
@media screen and (max-width: 767px) {
  .contact-item-title .contact-item-title-span1 {
    left: 52px;
  }
}
.contact-item-title .contact-item-title-span2 {
  left: 75px;
}
@media screen and (max-width: 767px) {
  .contact-item-title .contact-item-title-span2 {
    left: 83px;
  }
}

.contact-item-title1 {
  padding-top: 3px;
}

.contact-item-title2 {
  padding-top: 7px;
}

.contact-item-select {
  display: block;
  margin-left: 0.9px;
}
@media screen and (max-width: 767px) {
  .contact-item-select {
    margin-top: 7px;
  }
}

.contact-item-select-wrap {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(../img/contact-arrow.png) no-repeat center right 14px/10px 10px;
  border-radius: 0;
  cursor: pointer;
  width: 178px;
  height: 39px;
  padding: 7px 11px;
  color: #3E3E3E;
  border: 1px solid #3E3E3E;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  letter-spacing: -0.1px;
  position: relative;
  box-sizing: border-box;
}
.contact-item-select-wrap:focus, .contact-item-select-wrap:hover {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}
@media screen and (max-width: 767px) {
  .contact-item-select-wrap {
    font-size: 14px;
    width: 100%;
    height: 38px;
  }
}

.contact-item-input {
  max-width: 532px;
  width: calc(100% - 188px);
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-item-input {
    width: 100%;
  }
}
.contact-item-input input::-webkit-input-placeholder {
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  letter-spacing: 0.1px;
}
.contact-item-input input[type=text],
.contact-item-input input[type=email] {
  font-size: 16px;
  padding: 0.4em 0.8em 0.3em;
  width: 100%;
  letter-spacing: -1.3px;
}
@media screen and (max-width: 767px) {
  .contact-item-input input[type=text],
.contact-item-input input[type=email] {
    font-size: 14px;
    padding-left: 0;
  }
}
.contact-item-input input[type=text]:focus, .contact-item-input input[type=text]:hover,
.contact-item-input input[type=email]:focus,
.contact-item-input input[type=email]:hover {
  outline: none;
  border-color: #4973FF;
}
.contact-item-input input[type=text]:focus, .contact-item-input input[type=text]:hover + .contact-focusLine,
.contact-item-input input[type=email]:focus,
.contact-item-input input[type=email]:hover + .contact-focusLine {
  opacity: 1;
}
.contact-item-input input {
  width: 532px;
  border-bottom: 1px solid #707070;
  box-sizing: border-box;
}
.contact-item-input input::-ms-input-placeholder {
  font-size: 16px;
}
.contact-item-input .contact-email {
  letter-spacing: -1.2px;
}
.contact-item-input .contact-email::-webkit-input-placeholder {
  font-family: "Yu Gothic";
  letter-spacing: 0.1px;
}

.contact-focusLine {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
  transition: 0.2s;
  opacity: 0;
}
.contact-focusLine:active {
  opacity: 1;
}

.contact-item-radio {
  position: relative;
}

.contact-item-radio-item {
  display: inline-block;
  margin-top: 9px;
}
@media screen and (max-width: 767px) {
  .contact-item-radio-item {
    margin-top: 2px;
  }
}

.input-radio {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.male {
  margin-left: 22px;
}
@media screen and (max-width: 767px) {
  .male {
    margin-left: 20px;
  }
}

.female {
  margin-left: 55px;
}

.male,
.female {
  position: relative;
}
.male::before, .male::after,
.female::before,
.female::after {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border-radius: 50%;
}
.male::before,
.female::before {
  left: -20px;
  width: 10px;
  height: 10px;
  border: 1px solid #707070;
}
.male::before:active,
.female::before:active {
  background-color: rgba(73, 115, 255, 0.2);
}
.male::after,
.female::after {
  left: -17px;
  width: 6px;
  height: 6px;
  border: none;
  background-color: #3B69FF;
  display: none;
}
.male:hover::before,
.female:hover::before {
  border-color: #4973ff;
  box-shadow: 0 0 6px #4973ff;
}

input[type=radio]:checked + label::after {
  display: block;
}

input[type=radio]:active + label::before {
  background-color: rgba(73, 115, 255, 0.2);
  transition: 0.2s;
}

.clicked .contact-radio-part::before {
  background-color: rgba(73, 115, 255, 0.2);
}

.contact-message {
  display: block;
  margin-top: 19px;
}
.contact-message label {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .contact-message {
    margin-top: 21px;
  }
}

textarea {
  width: 100%;
  min-height: 198px;
  letter-spacing: -1.3px;
  box-sizing: border-box;
  padding: 0.4em 0.8em 0.3em;
  min-height: 198px;
  resize: vertical;
  margin-top: 2px;
}
textarea:focus, textarea:hover {
  outline: none;
  outline: 1px #4973FF solid;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5019607843);
}
@media screen and (max-width: 767px) {
  textarea {
    max-width: 319px;
    width: 100%;
    min-height: 160px;
    margin-top: 10px;
    font-size: 14px;
    min-height: 159px;
  }
}

.privacy-policy-wrap {
  display: flex;
  margin-top: 26px;
}
@media screen and (max-width: 767px) {
  .privacy-policy-wrap {
    margin-top: 19px;
  }
}

.checkbox {
  display: none;
}

.privacy-policy {
  padding-left: 40px;
  font-size: 18px;
  color: #3E3E3E;
  font-weight: bold;
  position: relative;
  padding-top: 2px;
}
@media screen and (max-width: 767px) {
  .privacy-policy {
    font-size: 16px;
    padding-left: 38px;
  }
}
.privacy-policy::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #707070;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .privacy-policy::before {
    width: 16px;
    height: 16px;
    top: 46%;
  }
}
.privacy-policy::after {
  position: absolute;
  content: "";
  bottom: 14px;
  left: 2px;
  height: 5px;
  width: 14px;
  border-left: 3px solid #3B69FF;
  border-bottom: 3px solid #3B69FF;
  transform: rotate(-45deg);
  display: none;
}
@media screen and (max-width: 767px) {
  .privacy-policy::after {
    height: 3px;
    width: 10px;
    bottom: 12px;
  }
}
.privacy-policy:hover {
  cursor: pointer;
}
.privacy-policy:hover::before {
  border: 1px solid #3B69FF;
}

input[type=checkbox]:checked + label::after {
  display: block;
}

input[type=checkbox]:active + label::before {
  background-color: rgba(73, 115, 255, 0.2);
  transition: 0.2s;
}

@media screen and (max-width: 767px) {
  .contact-footer-submit {
    text-align: center;
  }
}

.contact-button {
  margin: 34px 0 0 0;
  padding: 2px 0 0 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  display: inline-block;
  width: 173px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  background: #FFAA3B;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 5px rgba(96, 96, 96, 0.16);
  transition: all 0.3s ease 0s;
}
.contact-button:hover {
  background: #F18900;
}
@media screen and (max-width: 767px) {
  .contact-button {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    margin-top: 28px;
    width: 165px;
  }
}
.contact-button:disabled {
  background-color: #B2B2B2;
}

.contact-message-result {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px;
  display: none;
}
.contact-message-result.-error {
  color: #F00;
}

/*============================================================
# footer
============================================================= */
.footer {
  height: 292px;
  background-color: #3E3E3E;
  margin-top: 0;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 396px;
    padding-bottom: 10px;
  }
}

.footer-inner {
  max-width: 960px;
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 0;
}
@media screen and (max-width: 767px) {
  .footer-inner {
    display: block;
    text-align: center;
  }
}

.footer-sns-items {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-sns-items {
    justify-content: center;
  }
}

.footer-sns-item:not(:first-child) {
  margin-left: 32px;
}
@media screen and (max-width: 767px) {
  .footer-sns-item:not(:first-child) {
    margin-left: 49px;
  }
}

.footer-sns-item-link {
  color: #FFFFFF;
  opacity: 0.6;
}

.fa-brands {
  display: block;
  font-size: 38px;
  transition: all 0.3s ease 0s;
}
.fa-brands:hover {
  opacity: 0.7;
}

.footer-list {
  margin-top: 34px;
}

.footer-list-item {
  letter-spacing: 0.4px;
}
.footer-list-item:not(:first-child) {
  margin-top: 13px;
}
@media screen and (max-width: 767px) {
  .footer-list-item:not(:first-child) {
    margin-top: 13px;
  }
}
.footer-list-item a {
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
.footer-list-item a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .footer-list-item a {
    font-size: 14px;
    letter-spacing: 0.35px;
  }
}

.footer-logo {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  padding-top: 5px;
}
.footer-logo a {
  color: #E3E3E3;
}
@media screen and (max-width: 767px) {
  .footer-logo {
    font-size: 32px;
    padding-top: 0;
    margin-top: 33px;
  }
}

.copyright {
  display: block;
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: right;
  margin-top: 12px;
}
@media screen and (max-width: 767px) {
  .copyright {
    text-align: center;
    margin-top: 9px;
  }
}

/*============================================================
# to-top
============================================================= */
.to-top {
  position: fixed;
  bottom: 40px;
  right: 41px;
  width: 50px;
  height: 50px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .to-top {
    bottom: 14px;
    right: 28px;
  }
}
.to-top a {
  display: block;
  width: inherit;
  height: inherit;
  background: url(../img/to-top.png) no-repeat center center/contain;
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}
.to-top a:hover {
  opacity: 1;
}

/*============================================================
# swiper
============================================================= */
@media screen and (max-width: 767px) {
  .swiper-horizontal {
    width: 100%;
  }
}
.swiper-horizontal .swiper-pagination-bullets {
  width: 200px;
  bottom: 20px;
}
.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet:not(:first-child) {
  margin-left: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  height: 10px;
  top: 404px;
  left: 0;
  width: 30%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 276px;
    width: 100%;
    text-align: center;
    margin-left: -16px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
  margin-left: 4px;
}
@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin-left: 16px;
  }
}

.swiper-pagination-bullet-active {
  position: relative;
}
.swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
}

/*============================================================
# drawer
============================================================= */
.drawer-icon {
  position: fixed;
  top: 24px;
  right: 320px;
  z-index: 500;
  display: none;
}
.drawer-icon.is-active {
  display: block;
}

.drawer-icon__bars {
  position: relative;
  width: 20px;
  height: 20px;
}

.drawer-icon__bar1,
.drawer-icon__bar2 {
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  top: 9px;
  left: 0;
}

.drawer-icon__bar1 {
  transform: rotate(-45deg);
}

.drawer-icon__bar2 {
  transform: rotate(45deg);
}

.drawer-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  z-index: 300;
  display: none;
}
.drawer-content.is-active {
  display: block;
}

.drawer-content__items {
  margin-top: 157px;
}

.drawer-content__item {
  text-align: center;
}
.drawer-content__item a {
  color: #3E3E3E;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}
.drawer-content__item:not(:first-child) {
  margin-top: 24px;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3E3E3E;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 150;
  display: none;
}
.drawer-background.is-active {
  display: block;
}/*# sourceMappingURL=style.css.map */